<template>
  <div>
    <h1>Hello Nuxt.js!</h1>
  </div>
</template>

<script lang="ts">
import INuxtPage from '~/models/nuxt-page'
import { Vue, Component } from 'nuxt-property-decorator'

@Component
export default class IndexPage extends Vue {
}
</script>
